{% extends 'layouts/application.html' %}
{% load i18n %}

{% block header %}
{% translate "Statuses" %}
{% endblock %}

{% block content %}
<a class="btn btn-primary mb-3" href="{% url 'statuses:create' %}">{% translate "Create status" %}</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% translate "id"|upper %}</th>
      <th>{% translate "name"|capfirst %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for status in taskstatus_list %}
      <tr>
        <td>{{ status.id }}</td>
        <td>{{ status.name }}</td>
        <td><a class="btn btn-danger" href={% url 'statuses:delete' status.id %}>{% translate 'Delete' %}</a></td>
        <td><a class="btn btn-primary" href={% url 'statuses:update' status.id %}>{% translate 'Update' %}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
