{% extends 'layouts/application.html' %}
{% load i18n %}

{% block header %}
{% translate "Tasks" %}
{% endblock %}

{% block content %}
<a class="btn btn-primary mb-3" href="{% url 'tasks:create' %}" role="button">{% translate "Create task" %}</a>
    
{% include './filter.html' %}
    
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% translate "id"|upper %}</th>
      <th>{% translate "name"|capfirst %}</th>
      <th>{% translate "status"|capfirst %}</th>
      <th>{% translate "creator"|capfirst %}</th>
      <th>{% translate "executor"|capfirst %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for task in task_list %}
      <tr>
        <td>{{ task.id }}</td>
        <td>
          <a href="{% url 'tasks:detail' task.id %}">{{ task.name }}</a>
        </td>
        <td>{{ task.status }}</td>
        <td>{{ task.creator.get_full_name }}</td>
        <td>{{ task.executor.get_full_name }}</td>
        <td><a class="btn btn-danger" href={% url 'tasks:delete' task.id %}>{% translate 'Delete' %}</a></td>
        <td><a class="btn btn-primary" href={% url 'tasks:update' task.id %}>{% translate 'Update' %}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
